VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
REACT_APP_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=sua_public_key
VITE_EMAILJS_ADMIN_EMAIL=elyssonvg321@gmail.com
VITE_EMAILJS_ADMIN_NAME=Administrador NexTel

VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_ALTERACAO=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_2VIA=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_CHAMADO=template_chamado_admin
VITE_EMAILJS_TEMPLATE_STATUS_CHAMADO=template_chamado_cliente
VITE_EMAILJS_TEMPLATE_COBRANCA=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_COMPROVANTE=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_CONTRATO=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_RESET_SENHA=template_xxxxxxx

VITE_BACKEND_URL=https://api.seudominio.com.br
VITE_API_SECRET=troque_este_valor_em_producao
